<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.valdoc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestCreateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".HomeActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DynamicTableActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AfterLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RDAV5UserEntryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RDACPHAVUserEntryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RDACPHhUserEntryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RDFITUserEntryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RDPC3UserEntryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RDRCTUserEntryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ServiceReportActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".SyncSelectedDataActivity" />
        <activity android:name=".CreatePostCertificateActivity" />
        <activity android:name=".ShowSelectedTestActivity" />
        <activity android:name=".ServerSettingActivity"></activity>
    </application>

</manifest>